.card {
	list-style: none;
	text-decoration: none;
	padding: 15px;
	margin: 15px;
	background-color: rgb(255, 255, 255);
	border-radius: 7px;
	box-shadow: 0px 0px 10px#b30c817e;
	position: relative;
	z-index: 1;
}

.card:hover {
	cursor: pointer;
}

.card .competitors {
	position: absolute;
	margin-bottom: 5px;
	margin-right: 5px;
	right: 0;
	bottom: 0;
}

.date {
	position: absolute;
	margin-bottom: 5px;
	margin-left: 5px;
	bottom: 0;
}

h3 {
	position: absolute;
	margin-left: 5px;
	margin-top: 5px;
	top: 0;
	left: 0;
}

@media (min-width: 801px) {
	.card {
		width: 200px;
		padding: 45px 0px;
	}
}

@media (max-width: 800px) {
	.card {
		margin: 20px 60px;
		padding: 30px 0px;
	}
}
