.header {
	grid-area: header;
	background-color: rgb(255, 255, 255);
	box-shadow: 0px 0px 1px #4396e4;
	display: flex;
	align-items: center;
	justify-content: center;
}

.header img {
}

.main {
	grid-area: main;
	background-color: rgba(248, 246, 246, 0.911);
	box-shadow: 0px 0px 1px #4396e4;
}
.sidebar-left {
	grid-area: sidebar-left;
}

.trivia-container {
	height: 90vh;
	display: grid;
	background-color: #d4d4d4a1;
	grid-template-columns: 1fr 4fr;
	grid-template-rows: 1fr 5fr;
	grid-template-areas:
		"sidebar-left header"
		"sidebar-left main";
}
