.sidebar-list {
}

.sidebar-list .link {
	text-decoration: none;
	list-style: none;
}

.sidebar-list li {
	color: rgba(7, 4, 34, 0.849);
	font-size: 16px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding: 15px 0px;
	font-weight: bold;
}

.sidebar-list li:hover {
	background-color: rgba(0, 153, 255, 0.582);
}

.sidebar-list li #icon {
	flex: 30%;
	display: grid;
	place-items: center;
}

.sidebar-list li #title {
	flex: 70%;
}
